---
name: "Checks"
on:
  pull_request:
  push:
  workflow_call:
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v24
    # - uses: cachix/cachix-action@v12
      # with:
      #   name: neorocks
      #   authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix flake check -L --accept-flake-config
