name: LuaRocks release

on:
  release:
    types: [published]
  pull_request: # Will test a local install without uploading to luarocks.org

jobs:
  luarocks-release:
    runs-on: ubuntu-latest
    name: LuaRocks upload
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: LuaRocks Upload
        uses: nvim-neorocks/luarocks-tag-release@v5
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          name: toml-edit
          test_interpreters: ""
          summary: "TOML Parser + Formatting and Comment-Preserving Editor"
          detailed_description: |
            `toml-edit` is a library to parse and edit `.toml` files as if they were lua tables, all while preserving formatting and comments.
            Based on rust's `toml-edit`.
          template: .github/workflows/rockspec.template
